body{
background:black;
color:white;
font-family:Arial;
margin:0;
padding:0;
text-align:center;
}

header{
padding:40px;
background:#111;
border-bottom:2px solid gold;
}

h1{
color:gold;
font-size:50px;
}

.hero{
padding:50px;
}

.form{
padding:30px;
display:flex;
flex-direction:column;
gap:15px;
max-width:400px;
margin:auto;
}

input,select{
padding:15px;
border:none;
border-radius:10px;
background:#222;
color:white;
}

button{
padding:15px;
background:gold;
border:none;
border-radius:10px;
font-weight:bold;
}
